body {
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.player {
    text-align: center;
    padding: 20px;
    width: 300px;
    background: #222;
    border-radius: 10px;
}
.controls button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
